.example-spacer {
    flex: 1 1 auto;
  }
  
 .logo{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: white;
  transition-duration: 0.5s;
}
.logo:hover{
  height: 38px;
  width: 38px;
}